
body{
    background-color: #ffcad4 !important; 
    font-family: 'Consolas','Monaco','Lucida Console','Liberation Mono','DejaVu Sans Mono','Bitstream Vera Sans Mono','Courier New' !important;
    font-size: 18px;
}

.navbar-brand {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar {
    border-color: #d92368;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.bg-light {
    background-color: #d92368 !important;
}

@media (min-width: 768px) {
.navbar {
    border-radius: 0;
    padding:0;
    justify-content: space-between;
}
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-expand-lg .navbar-collapse {
        margin-left: 100px;
        right: 0;
    }
    #personal-img {
        margin-top: 0%;
    }
}

@media (max-width: 767px) {
    #personal-img {
        margin-top: 30%;
    }
}

html {
    scroll-padding-top: 7% !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #222;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: #ec8882;
    color: #222;
}

.navbar-light .navbar-toggler {
    color: #222;
    border-color: #222;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    justify-content: center;
}

.navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav {
    margin-bottom: 0;
    margin-top: 0;
    /*text-align: center;*/
}

.introduction {
    background-image: url(pictures/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin: 0;
}

#personal-img {
    margin-top: 217px;
    max-height: 400px;
    max-width: 400px;
} 

#introduction-text {
    font-size: 35px;
    /*margin-top: 3%;
    width: 500px; */
    text-align: center;
    color: black;
    text-shadow: 1px 1px 5px white;
    font-weight: bolder;
}

.container {
    margin-bottom: 20px;
}

.section-heading {
    background-color: #fed103;
    height: 10vh;
    margin: 0 25%;
    line-height: 10vh;
    text-align: center;
    border-radius: 0 0 5px 5px;
    font-size: 30px;
    font-weight: bolder;
}

.about-me {
   /*padding-top:0;*/
    padding:0;
    background-color: #800033;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin:0;
}

.about-me-container {
    color: #f8edeb; /*#caf0f8;*/
    background-color: #00a651 /*#33c39f*/;
    text-align: left;
}

.hide-text-about-me {
    color: #800033;
}

.hide-text-projects {
    color: #5c2c92;
}

.projects {
    /*padding-top:0;*/
    margin-top: -15px;
     padding:0;
     background-color: #5c2c92;
     box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
 }

 .project-card {
    background-color: #f76e1d /*#00a651; #9ADBE8;*/;
    /*
    width: 30%;
    height: 70vh;*/
    /*margin-right: 3px;
    margin-bottom: 3px;*/
    border-radius: 5px;
    padding-top: 15px;
    margin: 0;
    /*
    padding-right: 0px;
    padding-left: 0px;*/
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;*/
    overflow:auto;
}

.project-img {
    max-width: 100%;
    border-radius: 3px;
    /*margin-bottom: 15px;*/
    /*font-size: 25px;*/
}

.project-description {
    background-color: white;
    /*width: 93%;
    height: 33%;*/
    max-width: 300px;
    border-radius: 2px;
    padding-top: 5px;
}

.project-title {
    text-align: center;
    text-decoration: underline;
}

.project-description-text {
    /*font-size: 12px;*/
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.read-more {
    /*font-size: 15px;*/
    text-align: center;
}

/* .jumbotron p {
    font-size: 15px;
}*/

.resume {
    /*padding-top:0;*/
     padding:0;
     background-color: #1a25bb;
     box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
     margin:0;
 }

 .hide-text-resume {
    color: #1a25bb;
}
 
 .resume-container {
     color: #f8edeb; /*#caf0f8;*/
     background-color:#d30729 /*#33c39f*/;
     border-radius: 6px;
 }

 .contact-me {
    /*padding-top:0;*/
     padding:0;
     background-color:#006400;
     box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
     margin:0;
 }

 .hide-text-contact-me {
    color: #006400;
}
 
 .contact-me-container {
     
     background-color: #9ADBE8 /*#33c39f*/;
     border-radius: 6px;
 }

/*.container-fluid {
    min-width: 100%;
    margin: 0;
}*/

/*.navbar-toggler {
    margin-left: 100px;
}*/

/*
.navbar-inverse .navbar-brand {
    color: #222;
}

.navbar-inverse .navbar-nav > li > a {
    color: #222;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #ec8882;
    color: #222;
}

.navbar-inverse .navbar-header > a:hover, .navbar-inverse .navbar-header > a:focus {
    color: #222;
}

html {
    scroll-padding-top: 7% !important;
}*/

/*.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}*/

/*.container-fluid {
    margin-right: 0;
    margin-left: 0;
}*/




/*.introduction {
    margin-top: 5%;
}*/


/*
#navbar {
    background-color: #d92368;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding: 0 1% 0 1%;
    align-items: center;
    box-shadow: 0 0.5vh 0 rgba(0, 0, 0, 0.4);
}

#name {
    font-size: 6vh;
    position: fixed;
    width: 40%;   
    display: flex;
    flex-direction: row;
}

#navbar-buttons{
    right: 0;
    position: fixed;
    width: 47%;   
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    font-size: 26px;
    justify-content: space-around;
    align-items: center;
}

.sections:hover {
    text-decoration: none;
    background-color: #ec8882;
    align-self: center;
    /*height: 90%;
}

.navbar-links {
    text-decoration: none;
    color: black;
    padding: 0 30px 0 30px;
    margin-top: -10px;
    
}*/

/*#other-sections {
    margin-top: 4.5%;
    padding: 0 10%;
    font-size: 20px;
}*/

/*
#introduction {
    background-image: url(pictures/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 85vh;
    padding: 5% 5% 0 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

#introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/

/*#img-container {
    height: 500px;
    width: 375px;
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
}*/

/*
#background-img-nature {
    height: 500px;
    width: 100%;
    border-radius: 3px;
    font-size: 25px;
}



#img-container2 {
    height: 500px;
    width: 500px;
    border-radius: 15px;
    font-size: 25px;
}*/

/* #personal-img {
    height: 500px;
    width: 500px;
    border-radius: 100%;
}

#personal-img-2 {
    height: 400px;
    width: 400px;
}*/

#about-me {
    background-color: #800033;
    height: 90vh;
    padding: 0 10% 0 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

#about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #f8edeb; /*#caf0f8;*/
    border-radius: 30px;
    background-color: #00a651 /*#33c39f*/;
    margin-top: 2.5vh;
    height: 70vh;
}

#interests-img {
    height: 500px;
    width: 500px;
    border-radius: 10px;
    font-size: 25px;
}



#description-about-me {
    padding: 5%;
    text-align: left;
}

#projects {
    background-color: /*#800033;*/ #5c2c92;
    height: 90vh;
    padding: 0 5% 0 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

#projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    /*background-color: #33c39f;*/
    margin-top: 2.5vh;
    height: 70vh;
}



#resume {
    background-color: /*#800033;*/ #1a25bb;
    height: 90vh;
    padding: 0 10% 0 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

#resume-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: /*#00a651;*/ #d30729;
    margin-top: 2.5vh;
    height: 75vh;
}

/*#resume-pdf {
    width: 800px;
    height: 70vh;
}*/

#contact-me {
    background-color:#006400 /*#800033; #00a651*/ ;
    height: 60vh;
    padding: 0 10% 0 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    justify-content: center;
    margin-bottom: 20px;
    font-size: 25px;
}

#contact-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    border-radius: 30px;
    background-color: /*#00a651;*/ #9ADBE8;
    margin-top: 2.5vh;
    height: 40vh;
    text-align: center;
}

.icon {
    /*border: solid 1px;
    border-radius: 100%;*/
    padding: 7px;
}

#social-media-links {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    margin-left: 35%;
}

/*#contact-me-text {
    text-align: left;
}*/

#footer {
    /*background-color: #d2d3d4;*/
    padding: 0 2%;
    text-align: center;
    height: 5vh;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

#footer-container {
    height: 10%;
    position: relative;
    margin:0;
}